$screenSM: 640px;
$screenMD: 768px;
$screenLG: 1024px;

$mmGreyLite: #e2e2df; // Body
$mmGreyMid: #797f82; // Label
$mmGreyMidDarker: #909497; // Button
$mmBlack: #101010;
$mmWhite: #ffffff;
$mmBlueDark: #22292f; // Input text
